@import '../variables.scss';

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: $color-pale-blue;
  border: 1px solid $color-very-light-blue;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  p{
    color: $danger-color;
    margin: 5px;
  }
}

label {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
}

input, select, textarea, .react-datepicker-wrapper {
  width: 100%;
  padding: 10px;
  border: 1px solid $color-very-light-blue;
  border-radius: 4px;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: $color-light-blue;
    box-shadow: 0 0 5px $color-light-blue;
  }
}

textarea {
  resize: vertical; // Permitir que el usuario cambie el tamaño vertical del textarea
}

button {
  width: 100%;
  background-color: $color-light-blue;
  color: $color-dark-blue;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  margin-top: 15px;

  &:hover {
    background-color: $color-medium-blue;
    color: $color-pale-blue;
  }

  &:active {
    background-color: $color-dark-blue;
    color: $color-pale-blue;
  }
}

p {
  font-size: 14px;
}

// Estilos para las fotos
input[type="file"] {
  padding: 5px;
}

// Estilos responsivos
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  input, select, .react-datepicker-wrapper {
    font-size: 14px;
    padding: 8px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  form {
    padding: 10px;
  }

  input, select, .react-datepicker-wrapper {
    font-size: 12px;
    padding: 6px;
  }

  button {
    padding: 8px;
    font-size: 12px;
  }
}

.Toastify__close-button {
  display: none;
}
